h1, h2, h3, h4, h5, h6 {
  width: 100%;
  margin-bottom: .75em;
  font-weight: 400;
}

h1 {
  font-size: 3.125rem; /* 50px / 16px = 3.125rem */
}

h2 {
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
}

h3 {
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
}

h4 {
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
}

h5 {
  font-size: 1.3125rem; /* 21px / 16px = 1.3125rem */
}

h6 {
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
}
