@import '~styles/utils/variables';

.base {
  display: inline-block;
  padding: .5rem 1rem;
  border: .125rem solid $dark;
  margin: .5rem;
  font-weight: 500;
  color: $dark;
}

.primary {
  composes: base;
  background: $primary;
  border-color: $primary;
  color: #fff;
}

.secondary {
  composes: base;
  background: $secondary;
  border-color: $secondary;
  color: #fff;
}
