@import '../../styles/utils/variables';

.hero {
  composes: liteBase from 'components/App/App.scss';
  padding-top: 0;
  text-align: center;
}

.heroText {
  max-width: 720px;
  margin: 1rem auto;
}

.logo {
  lost-align: center;
  width: 100%;
  height: 60vh;
  min-height: 350px;
  max-height: 500px;
  margin-top: 1rem;
  svg {
    width: 350px;
    margin-left: -1.25rem;
  }
}

.action {
  margin-top: 1.5rem;
}
