@import '../../styles/utils/_variables.scss';

.liteBase {
  padding: 5rem 0;
  background: $lite;
}

.darkBase {
  padding: 5rem 0;
  background: $dark;
  color: $lite;
}

.container {
  lost-center: $container;
}

.hero {
  composes: liteBase;
  padding-top: 0;
  text-align: center;
}

.heroText {
  max-width: 720px;
  margin: 1rem auto;
}

.logo {
  lost-align: center;
  width: 100%;
  height: 60vh;
  min-height: 350px;
  max-height: 500px;
  margin-top: 1rem;
  svg {
    width: 350px;
    margin-left: -1.25rem;
  }
}

.action {
  margin-top: 1.5rem;
}

.install {
  composes: darkBase;
  text-align: center;
}

.taglineBase {
  composes: darkBase;
  text-align: center;
}

.tagline {
  font-size: 3.125rem;
  margin-bottom: 0;
}

.how {
  composes: liteBase;
  text-align: center;
}

.row {
  width: 100%;
  lost-utility: clearfix;
}

.twoColumn {
  lost-column: 1/2;
  text-align: left;
  h5 {
    font-weight: 600;
    text-align: center;
  }
}

.features {
  composes: liteBase;
}

.footer {
  composes: darkBase;
  padding: 2rem;
  text-align: center;
  h5 {
    margin: 0;
  }
}


// .section {
//   lost-center: $container;
//   div {
//     lost-column: 1;
//     @media #{$screen-small} {
//       lost-column: 1/2 2;
//     }
//     @media #{$screen-medium} {
//       lost-column: 1/3;
//     }
//   }
// }
