@import '../../styles/utils/_variables.scss';

.base {
  padding: 5rem 0;
}

.liteBase {
  composes: base;
  background: $lite;
}

.darkBase {
  composes: base;
  background: $dark;
  color: $lite;
}

.install {
  composes: darkBase;
  text-align: center;
}

.taglineBase {
  composes: darkBase;
  text-align: center;
}

.tagline {
  font-size: 3.125rem;
  margin-bottom: 0;
}

.how {
  composes: liteBase;
  text-align: center;
}

.features {
  composes: liteBase;
}

.footer {
  composes: darkBase;
  padding: 2rem;
  text-align: center;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    color: $lite;
    &:hover {
      color: darken($lite, 5%);
      border-bottom: 1px solid darken($lite, 5%);
    }
  }
}

