@import '~styles/utils/variables';

.container {
  lost-center: $container;
}

.hero {
  composes: container;
  text-align: center;
  h1 {
    max-width: 720px;
    margin: 0 auto;
  }
}

.logo {
  lost-align: center;
  width: 100%;
  height: 60vh;
  min-height: 350px;
  margin-top: 2rem;
  svg {
    width: 350px;
    margin-left: -1.25rem;
  }
}




// .section {
//   lost-center: $container;
//   div {
//     lost-column: 1;
//     @media #{$screen-small} {
//       lost-column: 1/2 2;
//     }
//     @media #{$screen-medium} {
//       lost-column: 1/3;
//     }
//   }
// }
