@import '../../styles/utils/_variables.scss';

.base {
  composes: liteBase from 'components/App/App.scss';
  padding: 2rem !important;
  text-align: center;
  a {
    color: $dark;
    &:hover {
      color: darken($dark, 5%);
      border-bottom: 1px solid darken($dark, 5%);
    }
  }
}
