@import '../../styles/utils/_variables.scss';

.base {
  composes: darkBase from 'components/App/App.scss';
  padding: 2rem !important;
  text-align: center;
  a {
    color: $lite;
    &:hover {
      color: darken($lite, 5%);
      border-bottom: 1px solid darken($lite, 5%);
    }
  }
}
