@import '../../../styles/utils/variables';

.column-12 {
  lost-column: 1;
}

.md-6 {
  lost-column: 1;
  @media #{$screen-medium} {
    lost-column: 1/2;
  }
}

.xs-6 {
  lost-column: 1/2;
}

  // text-align: left;
  // h5 {
  //   font-weight: 600;
  //   text-align: center;
  // }
